h1
{
    color:#ff0000;
    margin-left : 60px;
}


/*
.header *
{
    border : solid;
}
*/


body
{
    background-color:#75d3bb
}


.header 
{
    background-color :midnightblue;
    display : flex;
    justify-content: space-between;
}


.grid
{
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
}


.footer
{
    display : flex;
    justify-content : flex-end;
}


.menu
{
    margin-right : 30px;
    margin-top : 30px;
}


.menu a
{
    margin-left : 10px;
}


a:link
{
    color:orangered;
}


a:visited
{
    color:mintcream
}


.item
{
    position : relative;
}


.item p
{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    opacity : 0;
}

.item:hover p
{
    opacity : 1;
}

.item:hover img
{
    opacity : 0.4;
}